/* 基于菜单样式 */
#cai_dan_div{
    background-color: rgb(248, 137, 104);
    height: 80px;
    width: 300px;
    position: fixed;
    z-index: 3;
    border-radius: 90px;
   right: 3%;
    top: 50px;
}

/* 写个菜单样式 */
div.user_l{
    border-radius: 50px;

    background-color: rgb(236, 126, 126);
    position: fixed;
    /* top: 150px; */
    right:3%;
    z-index: 1;
    height: 80px;
    width: 300px;

}

div.cai_dan_nannui{
    background-color: rgb(236, 203, 175);
    position: fixed;
    z-index: 2;
    top: 11px;
    height: 65px;
    width: 100px;
}


div.cai_dan_annui_an:hover{

    animation: an_nui 0.5s;
    animation-fill-mode: forwards;

}
@keyframes an_nui{
    0%{
        box-shadow:0px 0px 0px 0px rgb(236, 126, 126);

    }
    100%{
        box-shadow:0px 0px 5px 3px rgb(238, 182, 182);
    }
}


/* 网页右边框架底层样式 */
#right_box_a{
    background-color: aquamarine;
    height: 60cm;
}


#left_box_a_b{
    background-color: rgb(132, 71, 190);
    height: 60cm;
}

/* 网站左边框架底层样式 */
#left_box_a{
    background-color: rgb(109, 227, 231);
    height:60cm;

}

/* 去除x滚动条 */
body{     
    overflow-x: hidden;     
    /* overflow-y: hidden;      */
}  


/* 个人信息显示框架 */
#right_box_a_1{
    z-index: 10;
    z-index: 2;
    position: fixed;
    top: -20px;
    right: 100px;
}



/* 个人信息动画 */

img.right_box_a_2:hover{


    animation:right_box_key 2s;

}
@keyframes right_box_key{

    0%{
        transform:rotate(0deg);
    }

  

    100%{
        transform: rotate(360deg);

    }

}

/* 头像框架 */

#img_tou_box{
    overflow:hidden;
    top: 60px;
    left: 3%;
    border-radius: 90px 90px 90px 90px;
    position: relative;
    background-color: aqua;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.219) ;
    width: 100px;
    height: 100px;

}
div.img_tou_box_1:hover{
    animation:img_tou_box_key 2s;
    animation-fill-mode: forwards;
}

/* @keyframes img_tou_box_key_end{
    0%{
         
        height: 250px;
    }

    100%{
       
        height: 100px;
    }
} */
@keyframes img_tou_box_key{

    0%{
         
    }

    /* 50%{
        transform:rotate(180deg);

    } */
    10%{
         width: 100px;
        /* height: 100px; */
    }

    100%{
        width: 250px;
        /* height: 250px; */
    }

}
/* 头像内容 */
#img_tou_box_src{
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.219) ;
    position: relative;
    top: 5px;
    left: 5px;
    border-radius: 90px 90px 90px 90px;
    width: 90px;
    height: 90px;
}
/* 用户昵称显示 */

#user_name{
    white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
    font-weight:1000;
    color: rgb(241, 115, 115);
    position: absolute;
    top: 5px;
    left: 100px;
}

/* 用户分割线 */
#user_hr{
    position: absolute;
    background-color:black;
    top: 30px;
    left: 100px;
    width: 120px;
    height: 1mm;
}